body{
    background: hsl(212, 45%, 89%);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

main{
    height: 450px;
    width: calc(265px + 26px);
    border-radius: 12px;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
}

img{
    width: 265px;
    height: 265px;
    border-radius:20px;
    padding: 13px;
}

h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin: 0;
    padding: 0 25px;
    font-size: 1.2em;
}

p{
    font-size: 15px;
    text-align: center;
    padding: 0 14px;
    color: hsl(220, 15%, 55%);
}
